#toDo
{
   background-color: #373a40;
   border-radius: 10px;
   
}
body
{
   background-color: #0b132b;
  
}
#button{
   color: white;
   border: 10px;
   border-radius: 10px;
   background-color: #0b5f8f;
   font-family: Inter,sans-serif;
   font-stretch: ultra-expanded;
   font-size: 15px;
   color: white;
   height: 30px;

}
#span
{
   font-family: Inter,sans-serif;
   font-stretch: ultra-expanded;
   font-size: 20px;
   color: teal;
}
#done
{
   background-color: #373a40;
   border-radius: 10px;

}
#addTask
{
   background-color: #373a40;
   border: 3px;
   color: white;
   height: 30px;
   border-radius: 10px;
   font-family: Inter,sans-serif;
   font-stretch: ultra-expanded;
   font-size: 15px;
   width: 1400px;
}

.createDiv
{
   font-family: Inter,sans-serif;
   font-stretch: ultra-expanded;
   font-size: 15px;
   height: 40px;
   color: white;
   text-align: vertical;
   line-height: 40px;
   border-bottom-width: 3px;
   border: 1px solid white;
   border-radius: 10px;
}
.checkbox
{
   width: 1.3em;
   height: 1.3em;
   background-color: white;
   border-radius: 50%;
   vertical-align: middle;
   border: 1px solid #ddd;
   -webkit-appearance: none;
   outline: none;
   cursor: pointer;
}
.checkbox:checked
{
   background-color: greenyellow;
}

.delete
{
   background-color: grey;
   border: 0px;
   font-family: Inter,sans-serif;
   font-stretch: ultra-expanded;
   font-size: 15px;
   color: white;
   border-radius: 5px;
   
   position: sticky;
   
   left: 1485px; 
   
}